.side
  
  .side__username
    .side__list
      .side__name
        = current_user.name
      .side__iconlist
        = link_to new_group_path, class: "side__icon1--edit" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "side__icon2--cog" do
          = icon('fas', 'cog')
  
  .side__grouplist
    - current_user.groups.each do |group|
      .side__group
        = link_to '#' do
          .side__groupname
            = group.name
          .side__groupmessage
            メッセージはまだありません
            